body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    position: relative;
}

.top-left-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
}

table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0 auto;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #333;
    text-align: center;
    white-space: nowrap;
}

.per{
    padding: 12px 15px;
    border: 1px solid #333;
    text-align: center;
    white-space: normal;

}




th {
    background-color: #333;
    font-weight: bold;
}


.pagination {
    text-align: center;
    padding: 10px;
}

.pagination .step-links a {
    color: #007bff;
    margin: 0 5px;
    text-decoration: none;
}

.pagination .step-links .current {
    color: #e0e0e0;
    margin: 0 5px;
}

.form-inline {
    justify-content: center;
    margin-bottom: 20px;
}


.text{
display:none;
}